html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  background: #000;
}
